{%extends 'Base/base.html' %}
{%block content%}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3 col-sm-3 col-xs-4"></div>
        <div class="col-md-6 col-sm-6 col-xs-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="/editarClienteCultivo" class="form-container" method="post">
                        <center>
                            <img src="{{url_for('static',filename='imagenes/seed.png')}}">
                            <h4>Editar Cultivo de cliente:</h4>
                        </center>
                        <div class="form-group">
                            <label style="color: white; font-weight: bold; background: black;">ID:</label>
                            <input type="number" class="form-control" placeholder="Id" required name="id" readonly
                                   value="{{clienteCultivo.idClienteCultivo}}">
                        </div>
                        <div class="form-group">
                            <span class="label label-default" style="font-size: 15px;">Extension:</span>
                            <input type="number" class="form-control" placeholder="Extension" required name="extension"
                            value="{{clienteCultivo.extension}}">
                        </div>
                        <div class="form-group">
                            <span class="label label-default" style="font-size: 15px;">Ubicacion:</span>
                            <input type="text" class="form-control" placeholder="Ubicacion" required name="ubicacion" maxlength="100"
                                   value="{{clienteCultivo.ubicacion}}">
                        </div>
                        <div class="form-group">
                            <span class="label label-default" style="font-size: 15px;">Cliente:</span>
                            <select required name="idCliente">
                                {%for cliente in clientes%}
                                {% if idC == cliente.id %}
                                <option selected value="{{cliente.id}}">
                                    {{cliente.nombre}}
                                </option>
                                {% endif %}
                                {% if idC != cliente.id %}
                                <option value="{{cliente.id}}">
                                    {{cliente.nombre}}
                                </option>
                                {% endif %}
                                {%endfor%}
                            </select>
                        </div>
                        <div class="form-group">
                            <span class="label label-default" style="font-size: 15px;">Cultivo:</span>
                            <select required name="idCultivo">
                                {%for cultivo in cultivos%}
                                {% if idCu == cultivo.id %}
                                <option selected value="{{cultivo.id}}">
                                    {{cultivo.nombre}}
                                </option>
                                {% endif %}
                                {% if idCu != cultivo.id %}
                                <option value="{{cultivo.id}}">
                                    {{cultivo.nombre}}
                                </option>
                                {% endif %}
                                {%endfor%}
                            </select>
                        </div>
                        <div class="form-group">
                            <span class="label label-default" style="font-size: 15px;">Ciudad:</span>
                            <select required name="idCiudad">
                                {%for ciudad in ciudades%}
                                {% if idCi == ciudad.id %}
                                <option selected value="{{ciudad.id}}">
                                    {{ciudad.nombre}}
                                </option>
                                {% endif %}
                                {% if idCi != ciudad.id %}
                                <option value="{{ciudad.id}}">
                                    {{ciudad.nombre}}
                                </option>
                                {% endif %}
                                {%endfor%}
                            </select>
                        </div>
                        <button class="btn btn-success btn-block" type="submit" style="margin-top: 1vh">Agregar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-4"></div>
    </div>
</div>
{% endblock %}