{%extends 'Base/base.html' %}
{%block content%}
<div class="container" style="margin-top: 10vh;">
    <div class="panel panel-default">
        <div class="panel-heading" style="padding: 10px 0px;">
            <a href="/nuevoCliente"><button type="button" class="btn btn-primary pull-right" style="padding: 5px 0px;">Agregar Cliente</button></a>Clientes
        </div>
        <div class="panel-body">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Razon Social</th>
                    <th scope="col">Limite de Credito</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Codigo Postal</th>
                    <th scope="col">RFC</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Email</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
                </thead>
                <tbody>
                {%for cliente in clientes%}
                <tr>
                    <th scope="row">{{cliente.id}}</th>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.razon}}</td>
                    <td>{{cliente.limite}}</td>
                    <td>{{cliente.direccion}}</td>
                    <td>{{cliente.codigo}}</td>
                    <td>{{cliente.rfc}}</td>
                    <td>{{cliente.telefono}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.tipo}}</td>
                    <td>{{cliente.ciudad}}</td>
                    <td><a href="/consultarCliente/{{cliente.id}}"><img src="{{url_for('static',filename='imagenes/pencil.png')}}"></a></td>
                    <td><a href="/eliminarCliente/{{cliente.id}}"><img src="{{url_for('static',filename='imagenes/remove.png')}}"></a></td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}