{%extends 'Base/base.html' %}
{%block content%}
<div class="pull-left">
    <span class="label label-default" style="margin-left: 15vh; font-size: 15px;position: relative; z-index: 2;">
    Juan</span>
</div>
<div class="pull-right">
<span class="label label-default" style="margin-right: 15vh; font-size: 15px;position: relative; z-index: 2;">
    2:36 p.m.</span>
</div>
<div class="container-fluid" style="margin-top: 15vh;">
<div class="row justify-content-center">
        <div class="col-lg-2"></div>
        <div class="panel-group">
            <div class="col-lg-2">
                <a href="#">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-center">Cultivos</div>
                        <div class="panel-body well well-sm text-center"><img
                                src="{{url_for('static',filename='imagenes/plant.png')}}"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2">
                <a href="#">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-center">Unidades de transporte</div>
                        <div class="panel-body well well-sm text-center"><img
                                src="{{url_for('static',filename='imagenes/truck.png')}}"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2">
                <a href="#">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-center">Clientes</div>
                        <div class="panel-body well well-sm text-center"><img
                                src="{{url_for('static',filename='imagenes/client.png')}}"></div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2">
                <a href="#">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-center">Asociaciones</div>
                        <div class="panel-body well well-sm text-center"><img
                                src="{{url_for('static',filename='imagenes/deal.png')}}"></div>
                    </div>
                </a>
            </div>
        </div>
    <div class="col-lg-2"></div>
    </div>
</div>
{% endblock %}