{%extends 'Base/base.html' %}
{%block content%}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3 col-sm-3 col-xs-12"></div>
        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="panel panel-default" style="margin-top: 10vh;">
                <div class="panel-body">
                    <form action="/agregarOfertaAsociacion" class="form-container" method="post">
                        <center>
                            <img src="{{url_for('static',filename='imagenes/asale.png')}}">
                            <h4>Agregar Oferta de Asociaciones:</h4>
                        </center>
                        <div class="form-group">
                            <label style="color: white; font-weight: bold; background: black;">Asociacion:</label>
                            <select required name="asociacion">
                                {%for asociacion in asociaciones%}
                                <option value="{{asociacion.id}}">
                                    {{asociacion.nombre}}
                                </option>
                                {%endfor%}
                            </select>
                        </div>
                        <div class="form-group">
                            <label style="color: white; font-weight: bold; background: black;">Oferta:</label>
                            <select required name="oferta">
                                {%for oferta in ofertas%}
                                <option value="{{oferta.id}}">
                                    {{oferta.nombre}}
                                </option>
                                {%endfor%}
                            </select>
                        </div>
                        <button class="btn btn-success btn-block" type="submit" style="margin-top: 1vh">Agregar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>
{% endblock %}